[Unit]
Description=Change wallpaper
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wallpaper-shuffle

[Install]
WantedBy=graphical-session.target
