[Unit]
Description=Change wallpaper periodically
After=graphical-session.target

[Timer]
OnActiveSec=0
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
