#define white #ffffff
#define off_white #ecf0f1
#define black #141414
#define dark_grey #1a1a1a
#define light_grey #555555
#define medium_light_grey #2a2a2a
#define medium_dark_grey #222222
#define green #2ecc71
#define aqua #1abc9c
#define red #e74c3c
#define blue #3498db
#define yellow #f1c40f
#define orange_red #e67e22
#define periwinkle #6c71c4
#define magenta #ff56ff

URxvt.scrollstyle: plain
URxvt.scrollColor: light_grey
URxvt.scrollBar_right: true
URxvt.cursorBlink: true

URxvt.saveLines: 1000000

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.font: xft:Inconsolata:size=9
URxvt.letterSpace: -1

Xft.rgba: rgb
Xft.lcdfilter: lcdnone

*.foreground: off_white
*.background: dark_grey

*.color1: red
*.color2: green
*.color3: yellow
*.color4: periwinkle
*.color5: magenta
*.color9: red
*.color10: green
*.color12: blue
*.color13: magenta
*.color14: aqua
